.dark {
  background-color: rgb(0, 0, 0);
  color: white;
  /* border: 1px solid lightgrey;*/
}

.menu {
  color: black;
  float: right;
  height: 100vh;
  margin-top: auto;
  width: 0;
  transition-duration: 1.8s;
  transition-property: width;
  /*background-color: rgb(202, 33, 33);*/

  cursor: pointer;
  /*width:0*/
}
.show {
  display: inline-table;
  width: 30vw;
  /*border: green 1px solid;*/

  z-index: -12;
 opacity: 0.8;
  backdrop-filter:  blur(10px);
 
}
.hide{

  background-color: rgb(206, 52, 52);
}


li {
  list-style: none;
  width: 0;
}

.links {
  color: black;
  /*border: pink solid 1px;*/
  text-align: center;
  list-style: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: black;*/
  text-decoration: none;
  font-size: 1em;

  transition-duration: 1.8s;
  transition-property: width;
  width: 0;
  opacity: 0.8;
}
.hideMenu {
  width: 0vw;
 
}

.showMenu {
  width: 30vw;
  display: inline-table;
}
.links show {
  color: white;
  /*border: green solid 1px;8*/
  text-align: center;
  list-style: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  text-decoration: none;
  font-size: 2em;
  display: inline-table;
}
.links:hover {
  color: dodgerblue;
}
.linksButton {
  align-items: right;
}
.showButton {
  width: 50px;
  display: block;
  /*margin-right: 1em;*/
  height: 36px;
}

.hideButton {
  height: 4vw;
  display: none;
}

.darkModeIcon {
  width: 4vw;
}
ul {
  padding: 0;
}
@media screen and (min-width: 1500px) {
  .showDisplay {
    display: none;
  }
}

@media screen and (width <=414px) {
  .showMenu {
    height: 50%;
    width: 100vw;
    display: inline-table;
  }

  .links {
    border: 1px orange 1px solid;
    text-align: right;
  }

  .darkModeIcon {
    width: 10vw;
  }
}
