.wrapper{

   /* border:1px solid rgba(211, 211, 211, 0.144);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  min-height:7vh ;
  padding-top:1vh
    /*line-height: 24px;*/
}



.logo{
    /*border:1px blue solid;*/
font-size: 2em;


}

.links{

    border:1px green solid;
    width:30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.style.li{
color:brown

}
.buttonLinks{
    display: block;
    /*border: 1px solid red;*/
 
}


@media screen and (max-width: 1500px){


.links{

display:none ;
}

/*.buttonLinks{
    display: block;
}*/



}

@media screen  and (max-width:414px){


    .logo{ font-size: 15px;
   
    
    }
    
}