.dark {
  background-color: black;
  color: white;
  /* border: 1px solid lightgrey;*/
}
.light{

  background-color:#2292a4;
}
.menu {
  color: black;
  float: right;
  height: 100vh;
  margin-top: auto;
  width: 0;
  transition-duration: 1.8s;
  transition-property: width;
  /*z-index: 4;*/
  position: relative;
}
.show {
  display: inline-table;
  width: 30vw;
  /*border: green 1px solid;*/
 
  z-index: 4;
  background-color: rgba(26, 24, 24, 0.678);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.hide {
  z-index: 4;
  background-color: rgba(26, 24, 24, 0.678);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  
}

li {
  list-style: none;
  width: 0;
}

.links {
  color: white;
  /*border: pink solid 1px;*/
  text-align: center;
  list-style: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: black;*/
  text-decoration: none;
  font-size: 1.5vw;
  cursor: pointer;
  transition-duration: 1.8s;
  transition-property: width;
  width: 0;

}
.hideMenu {
  width: 0;
}

.showMenu {
  width: 30vw;
  display: inline-table;
}
.links show {
  color: white;
  /*border: green solid 1px;8*/
  text-align: center;
  list-style: none;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  text-decoration: none;
  font-size: 2em;
  display: inline-table;
}
.links:hover {
  color: rgb(255, 158, 30);
}
.linksButton {
  align-items: right;
}
.showButton {
  width: 50px;
  display: block;
  /*margin-right: 1em;*/
  height: 36px;
}

.hideButton {
  height: 4vw;
  display: none;
}

.darkModeIcon {
  width: 4vw;
 
}
ul {
  padding: 0;
}




@media screen and (min-width: 1500px) {
  .showDisplay {
    display: none;
  }
}

@media screen and (max-width:414px) {
  .showMenu {
    height: 50%;
    width: 50vw;
    display: inline-table;
  }

  .links {
    border: 1px orange 1px solid;
    text-align: left;
    font-size:7vw;
    padding-left:1em;
  }

  .darkModeIcon {
    width: 10vw;
  }

  .menu {
   
    width:0vw;
    /*color: black;
    float: right;
    height: 100vh;
    margin-top: auto;
    width: 0;
    transition-duration: 1.8s;
    transition-property: width;
    /*z-index: 4;*/
   /* position: relative;*/
  }
  .show {
    display: inline-table;
    width: 80vw;
    /*border: green 1px solid;*/
   
    z-index: 4;
    background-color: black;
   
  }
}
